<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                     http://www.springframework.org/schema/beans/spring-beans.xsd 
                     http://www.springframework.org/schema/tx 
                     http://www.springframework.org/schema/tx/spring-tx.xsd  
                     http://www.springframework.org/schema/aop 
                     http://www.springframework.org/schema/aop/spring-aop.xsd
                     http://www.springframework.org/schema/context 
  					 http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean name="inventoryReportMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lin.warehouse.dao.InventoryReportMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean name="inventoryReportItemMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lin.warehouse.dao.InventoryReportItemMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean name="lockReportMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lin.warehouse.dao.LockReportMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean name="lossReportMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lin.warehouse.dao.LossReportMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean name="lossReportItemMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lin.warehouse.dao.LossReportItemMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean name="materialMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lin.warehouse.dao.MaterialMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean name="materialInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lin.warehouse.dao.MaterialInfoMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean name="orderInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lin.warehouse.dao.OrderInfoMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean name="orderItemMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lin.warehouse.dao.OrderItemMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean name="warehouseMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lin.warehouse.dao.WarehouseMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean name="warehouseEmployeeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lin.warehouse.dao.WarehouseEmployeeMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean name="warehouseManagerMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lin.warehouse.dao.WarehouseManagerMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean name="personalCustomMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lin.warehouse.dao.PersonalCustomMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean name="companyCustomMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" destroy-method="">
		<property name="mapperInterface" value="com.lin.warehouse.dao.CompanyCustomMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

</beans>